.app {
  text-align: center;
  background-color: rgb(241, 77, 154);
  margin: 10%;
  border-radius: 12px;
}
.header {
  color: aqua;
}
/* list table css */
table {
  background-color: whitesmoke;
  width: 90%;
  margin: auto;
}
thead {
  font-weight: bold;
  background-color: cadetblue;
}
td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* button */
.button {
  background-color: cadetblue;
  border-radius: 12px;
  padding: 15px 30px;
}
