.App {
  text-align: center;
  color: darkviolet;
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif, cursive;
}

div {
  border: 1px;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  display: block;
}

.header {
  background-color: pink;
}

.footer {
  background-color: lightblue;
  font-style: italic;
}
.book-list {
  display: flex;
}
.book-container {
  display: flex;
  background-color: aquamarine;
  text-align: center;
  width: 40%;
  float: left;
  height: 10%;
}

.book-details {
  width: 50%;
}

img {
  border-radius: 12px;
  width: 100%;
}
