.App {
  text-align: center;
  background-color: peachpuff;
  color: purple;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  border-radius: 25px;
}

.header {
  background-color: rgb(248, 154, 66);
  border-radius: 25px;
}

p {
  font-style: italic !important;
}

textarea,
input,
button,
form {
  padding: 10px;
  min-width: 80%;
  max-width: 90%;
  line-height: 1.5;
  border-radius: 5px;
}

button {
  background-color: rgb(248, 154, 66);
}

ul.header,
ul.pastentries {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.header li {
  float: left;
  border-right: 1px solid #bbb;
  color: purple;
}

ul.header li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.header li a:hover:not(.active) {
  background-color: purple;
}

.active {
  background-color: #04aa6d;
}
hr.rounded {
  border-top: 2px solid green;
  border-radius: 5px;
}

h4 {
  color: green;
}
